

html, body, iframe{
    height: 100vh;
}

html{
    width: 100%;
    height: 100%;
    margin:0;
    border:0;
    padding:0;
}
body{
    margin:0;
    border:0;
    padding:0;
	font-size: 20px;
	font-family: arial;
	color:white;
    background-color:black;
    width: 100%;
    height: 100%;
}

.container{
    margin:0;
    border:0;
    padding:0;
	font-size: 20px;
	font-family: arial;
	color:white;
    background-color:black;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position:relative;
}

#Timer{
    position:absolute;
    left:90%;
    z-index:100;
}

input[type="text"]
{
    font-size:20px;
}

.pft{
    max-width:80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.question-text{
    margin: 40px;
	font-weight: 600;
    margin-bottom: 100px;
    text-align:center;
}
.question-img{
    display: block;
    width:100%;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top:40px;
}

.question-imgtext{
    display: flex;
    width:100%;
    float:none;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    text-align: center;
}

.question-subtext{
    margin: 40px;
    margin-bottom: 50px;
    text-align:center;
    line-height: 120%;
}

.answers-text {
    text-align:center;
    display: block;
}
.answers-img {
    margin-bottom: 20px;
    display:flex;
    flex-wrap: wrap;
}
.answers-field {
    margin-left: 550px;
    display: block;
}
.answers-vpfield {
    margin-left: 550px;
    display: block;
}
.answers-likert {
    margin-top:100px;
    text-align:center;
}
.answers-image {
    margin-bottom: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.answers-likert label{
    margin-left:50px;
    margin-right:50px;
    display:inline-block;
}
.answers-andfield label{
    margin-bottom: 40px;
    text-align:center;
    display: block;
}
.answers-text label{
    margin-bottom: 40px;
    display: block;
    text-align:center;
}
.answers-img label{
    margin:auto;
}
.answers-field label{
    margin-bottom: 20px;
    display: block;
}


button{
    font-family: Arial;
    font-size: 22px;
    color: white;
    background-color:black;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    width:450px;
    align-items: center;
    border-style:solid;
}
button:hover{
    background-color: grey;
}


a{
    font-family: Arial;
	font-size: 22px;
	background-color:black;
	color: white;
    border-radius: 3px;
    padding: 0px;
    cursor: pointer;
    margin: auto;
    width:410px;
    text-align: center;
    z-index: 2;
    border-style:solid;
    padding:20px;
    margin-top:0px;
}

a:hover{
    background-color: grey;
}

.quiz-container{
    width: 100%;  
    height:85%;
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
}
#submit:hover{
	background-color: #38a;
}

