
::-webkit-scrollbar{width:9px;height:9px}
::-webkit-scrollbar-button:start:decrement
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:gray;}
::-webkit-scrollbar-track-piece{background-color:black;-webkit-border-radius:0;-webkit-border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:4px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:4px;}

    /**https://www.camma.ch/2010/01/12/css-layouts-mit-100-hoehe/ **/
html,body {

	margin:0;
	padding:0;

	/*height:99.75%;
    width: 99.75%;*/
    height:100%;
    width: 100%;
    /* See http://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling */
    position:fixed;
    overflow: hidden;

	background:black;
	font-family:arial,sans-serif;
	color:#FFF;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: auto;
    user-select: none;
    touch-action: manipulation;
}

.site {
    display: flex;
    min-height: 100%;
    max-height: 100%;
    flex-direction: column;
}

main.epochal {
    flex-grow: 1;
    overflow: hidden;
}

canvas {

}

header.epochal {
	padding:0.2em 0.2em 0.2em 0.5em;
	font-family: 'Georgia', Times, serif;
	font-family: 'Cormorant Upright';
    font-size: 36px;
    font-style: italic;
}

footer.epochal {
    width:100%;
    height: 2em;
    color: #999;
    font-family: Arial;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

audio.epochal {
    position: absolute;
    bottom: 0px;
    width:100%;
}

img.epochal {
    position: absolute;
    box-shadow: 4px 4px 32px #000;
}

.seperator {
    width: 1px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-left: 1px solid #FFF;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1400px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menuitem {
    align-self: auto;
    width: 33%;
    text-align: center;
}


.selected {
    color: #FFF;
}

.text
{
    font-size: 24px;
}

.background {
    position: absolute;
    top: 0;
}

#wrapper{
    display:flex;
    width:100%;
}

#w30{
    background:yellow;
    width:30%;
}
  
#w70{
    background:pink;
    width:70%;
}
