.PopupContent {
    min-width: 460px;
    color: white;
}

.PopupContent img {
    width: 100%;
    max-height: 800px;
}

.PopupContent imggroup img {
  max-width: 46%;
  height: 100%;
  margin: 2%;
  border: 8px solid white;
}

.PopupContent p {
    margin-top: 0px;
}

.ZoomedFigure {
    position: absolute;
    font-family: 'MyriadRegular', sans-serif;
    background: white;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    display: flex;
}

.ZoomedFigure img {
    top: 0px;
}

.ZoomedFigure figure {
    margin-top: 0px;
    box-shadow: none;
}

.ZoomedFigure figcaption {
    color: black;
}

.ZoomedIcon {
    top: 0px;
    left: 0px;
}
