.tooltip {
    position: absolute;
    text-align:justify;

    color: #000;
    background: #FFF;
/*
    background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6)), to( rgba( 0, 0, 0, .8)));
    background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .8));
    background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .8));
    background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .8));
    background: -o-linear-gradient( top, rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .8));
    background: linear-gradient( top, rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .8));*/

    opacity: 0;
    z-index: 101;
    border-radius: 5px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.tooltip:after, .tooltip:before {
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
}

.tooltip:before {
    border-color: rgba(255, 255, 255, 0);
    border-width: 18px;
}


/* 1. Fall, Pfeil unten, mitte(s), links(sw), rechts(se)*/

.n:after {
    border-top-color: rgba(255, 255, 255, 1);
    margin-left: -15px;
}

.n:before {
    border-top-color: rgba(255, 255, 255, 0);
    margin-left: -18px;
}

.n:after, .n.before {
    top: 100%;
    left: 50%;
}


/* 2. Fall, Pfeil oben, mitte(n), links(nw), rechts(ne)*/

.s:after {
    border-bottom-color: rgba(255, 255, 255, 1);
    margin-left: -15px;
}

.s:before {
    border-bottom-color: rgba(255, 255, 255, 0);
    margin-left: -18px;
}

.s:after, .s.before {
    bottom: 100%;
    left: 50%;
}


/* 3. Fall, Pfeil links, mitte(w), oben(nw), unten(sw)*/

.w:after, .nw:after, .sw:after {
    border-left-color: rgba(255, 255, 255, 1);
    margin-top: -15px;
}

.w:before, .nw:before, .sw:before {
    border-left-color: rgba(255, 255, 255, 0);
    margin-top: -18px;
}

.w:after, .w.before {
    left: 100%;
    top: 47%;
}

.nw:after, .nw:before {
    left: 100%;
    top: 72%;
}

.sw:after, .sw:before {
    left: 100%;
    top: 22%;
}

/* 4. Fall, Pfeil rechts, mitte(e), unten(ne), oben(se)*/

.e:after, .ne:after, .se:after {
    border-right-color: rgba(255, 255, 255, 1);
    margin-top: -15px;
}

.e:before, .ne:before, .se:before {
    border-right-color: rgba(255, 255, 255, 0);
    margin-top: -18px;
}

.e:after, .e.before {
    right: 100%;
    top: 47%;
}

.ne:after, .ne:before {
    right: 100%;
    top: 72%;
}

.se:after, .se:before {
    right: 100%;
    top: 22%;
}
